.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item .flex-fill {
    flex: 1;
    padding: 10px; /* Ajout d'un padding pour un meilleur espacement */
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Ajout de classes spécifiques pour la largeur fixe des colonnes */
.column-name, .column-price, .column-volume {
    flex-basis: 30%; /* Ajustez la valeur selon vos besoins */
}

@media (max-width: 768px) {
    .list-group-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .list-group-item .flex-fill {
        width: 100%;
        text-align: left;
    }

    .list-group-item .flex-fill + .flex-fill {
        margin-top: 10px;
    }
}
